# Generated bindings
src/*.cpp
src/gen
src/*.hpp
include/*.hpp
include/gen
*.json

# Misc
logs/*

# Binaries
*.o
*.os
*.so
*.obj
*.pyc
*.dblite
*.pdb
*.lib
bin
*.config
*.creator
*.creator.user
*.files
*.includes
